streamlit
streamlit-lottie
requests
langchain
langchain-community
langchain-text-splitters
langchain-groq
langchain-huggingface
langchain-pinecone
pinecone-client
pypdf
sentence-transformers
pygooglenews
groq
pandas
protobuf==3.20.3
