streamlit
streamlit-lottie
requests
langchain>=0.3.0
langchain-community
langchain-text-splitters
langchain-groq
langchain-huggingface
langchain-pinecone
pinecone
pypdf
sentence-transformers
pygooglenews
groq
pandas
protobuf==3.20.3
